.example-container {
  position: relative;
  padding: 5px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-full-width:nth-last-child {
  margin-bottom: 10px;
}

.button-row {
  margin: 10px 0;
}

.mat-flat-button {
  margin: 5px;
}
.isa_info, .isa_success, .isa_warning, .isa_error {
  margin: 10px 0px;
  padding:12px;

}
.isa_info {
  color: #00529B;
  background-color: #BDE5F8;
}
.isa_success {
  color: #4F8A10;
  background-color: #DFF2BF;
}
.isa_warning {
  color: #9F6000;
  background-color: #FEEFB3;
}
.isa_error {
  color: #D8000C;
  background-color: #FFD2D2;
}
.isa_info i, .isa_success i, .isa_warning i, .isa_error i {
  margin:10px 22px;
  font-size:2em;
  vertical-align:middle;
}
