<mat-card class="mat-calendar-body-cell">
  <mat-card-header>
    <mat-card-title>Вход</mat-card-title>
  </mat-card-header>
  <mat-card-content align="center">
      <table class="example-full-width" cellspacing="10">
        <tr>

            <mat-form-field class="mat-badge-large">
              <input matInput placeholder="Логин"  name="username" required>
            </mat-form-field>
        </tr>
        <tr>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Пароль" type="password" name="password" required>
          </mat-form-field>
        </tr>
      </table>
    <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
  </mat-card-content>
  <mat-card-actions align="center">
    <button class="example-full-width" mat-raised-button (click)="login()" color="primary">Войти</button>
  </mat-card-actions>
</mat-card>
