
<mat-toolbar color="gray">

  <span>Корабль</span>

</mat-toolbar>

<ul>
  <li>
    Название: {{ship$?.ship.sh_title}}

    <ul>
      <li>Капитан: {{ship$?.ship.skipper}}</li>
      <li>Год строительства: {{ship$?.ship.year}}</li>
      <li>Тип корабля: {{ship$?.ship.type_id}}</li>
      <li>Водоизмещение, л.: {{ship$?.ship.capacity}}</li>
    </ul>

    <button [disabled]="!enable" mat-raised-button (click)="delete(ship$.ship)">Удалить</button>
    <button mat-raised-button (click)="back()">Назад</button>
    <button [disabled]="!enable" mat-raised-button routerLink="/edit/{{ship$?.ship.uid}}">Редактировать</button>
  </li>
</ul>

